body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1410px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:1376px;
  background:inherit;
  background-color:rgba(249, 250, 251, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4829 {
  position:absolute;
  left:10px;
  top:50px;
  width:1400px;
  height:1376px;
}
#u4830 {
  position:absolute;
  left:2px;
  top:680px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:40px;
  background:inherit;
  background-color:rgba(24, 39, 63, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4831 {
  position:absolute;
  left:10px;
  top:10px;
  width:1400px;
  height:40px;
}
#u4832 {
  position:absolute;
  left:2px;
  top:12px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:right;
}
#u4833 {
  position:absolute;
  left:981px;
  top:22px;
  width:167px;
  height:16px;
  color:#FFFFFF;
  text-align:right;
}
#u4834 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  word-wrap:break-word;
}
#u4835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:33px;
}
#u4835 {
  position:absolute;
  left:1157px;
  top:14px;
  width:1px;
  height:32px;
}
#u4836 {
  position:absolute;
  left:2px;
  top:8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u4837 {
  position:absolute;
  left:1165px;
  top:22px;
  width:45px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u4838 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u4839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:16px;
}
#u4839 {
  position:absolute;
  left:210px;
  top:22px;
  width:194px;
  height:16px;
  color:#FFFFFF;
}
#u4840 {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  word-wrap:break-word;
}
#u4841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4841 {
  position:absolute;
  left:10px;
  top:50px;
  width:1400px;
  height:138px;
}
#u4842 {
  position:absolute;
  left:2px;
  top:61px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4843 {
  position:absolute;
  left:222px;
  top:73px;
  width:90px;
  height:90px;
}
#u4844 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4845 {
  position:absolute;
  left:322px;
  top:73px;
  width:36px;
  height:16px;
}
#u4846 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u4847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u4847 {
  position:absolute;
  left:358px;
  top:73px;
  width:20px;
  height:16px;
}
#u4848 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4849 {
  position:absolute;
  left:322px;
  top:94px;
  width:120px;
  height:16px;
}
#u4850 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u4851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:21px;
}
#u4851 {
  position:absolute;
  left:322px;
  top:143px;
  width:15px;
  height:20px;
}
#u4852 {
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:21px;
}
#u4853 {
  position:absolute;
  left:347px;
  top:143px;
  width:15px;
  height:20px;
}
#u4854 {
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:91px;
}
#u4855 {
  position:absolute;
  left:452px;
  top:73px;
  width:1px;
  height:90px;
}
#u4856 {
  position:absolute;
  left:2px;
  top:37px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4857 {
  position:absolute;
  left:497px;
  top:91px;
  width:56px;
  height:16px;
}
#u4858 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u4859 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#EE4C4C;
}
#u4860 {
  position:absolute;
  left:496px;
  top:117px;
  width:93px;
  height:28px;
  font-size:24px;
  color:#EE4C4C;
}
#u4861 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u4862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#EE4C4C;
}
#u4862 {
  position:absolute;
  left:591px;
  top:122px;
  width:35px;
  height:19px;
  font-size:16px;
  color:#EE4C4C;
}
#u4863 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u4864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4864 {
  position:absolute;
  left:684px;
  top:91px;
  width:56px;
  height:16px;
}
#u4865 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u4866 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u4867 {
  position:absolute;
  left:684px;
  top:117px;
  width:93px;
  height:28px;
  font-size:24px;
}
#u4868 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u4869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4869 {
  position:absolute;
  left:779px;
  top:122px;
  width:35px;
  height:19px;
  font-size:16px;
}
#u4870 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u4871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4871 {
  position:absolute;
  left:871px;
  top:91px;
  width:56px;
  height:16px;
}
#u4872 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u4873 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u4874 {
  position:absolute;
  left:870px;
  top:117px;
  width:93px;
  height:28px;
  font-size:24px;
}
#u4875 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u4876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4876 {
  position:absolute;
  left:965px;
  top:122px;
  width:35px;
  height:19px;
  font-size:16px;
}
#u4877 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u4878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
  background:inherit;
  background-color:rgba(238, 76, 76, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4878 {
  position:absolute;
  left:1097px;
  top:73px;
  width:113px;
  height:40px;
}
#u4879 {
  position:absolute;
  left:2px;
  top:12px;
  width:109px;
  word-wrap:break-word;
}
#u4880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4880 {
  position:absolute;
  left:1097px;
  top:123px;
  width:113px;
  height:40px;
  color:#666666;
}
#u4881 {
  position:absolute;
  left:2px;
  top:12px;
  width:109px;
  word-wrap:break-word;
}
#u4882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u4882 {
  position:absolute;
  left:372px;
  top:66px;
  width:15px;
  height:15px;
  color:#FFFFFF;
}
#u4883 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u4884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:52px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4884 {
  position:absolute;
  left:10px;
  top:1374px;
  width:1400px;
  height:52px;
}
#u4885 {
  position:absolute;
  left:2px;
  top:18px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:16px;
}
#u4886 {
  position:absolute;
  left:210px;
  top:1392px;
  width:389px;
  height:16px;
  color:#666666;
}
#u4887 {
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  word-wrap:break-word;
}
#u4888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4888 {
  position:absolute;
  left:322px;
  top:115px;
  width:120px;
  height:16px;
}
#u4889 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u4891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:712px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4891 {
  position:absolute;
  left:210px;
  top:283px;
  width:160px;
  height:712px;
}
#u4892 {
  position:absolute;
  left:2px;
  top:348px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4893 {
  position:absolute;
  left:226px;
  top:301px;
  width:15px;
  height:15px;
}
#u4894 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4895 {
  position:absolute;
  left:251px;
  top:301px;
  width:81px;
  height:16px;
  color:#999999;
}
#u4896 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u4897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#EE4C4C;
}
#u4897 {
  position:absolute;
  left:251px;
  top:338px;
  width:81px;
  height:16px;
  color:#EE4C4C;
}
#u4898 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u4899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4899 {
  position:absolute;
  left:251px;
  top:376px;
  width:81px;
  height:16px;
}
#u4900 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u4901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4901 {
  position:absolute;
  left:226px;
  top:434px;
  width:15px;
  height:15px;
}
#u4902 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4903 {
  position:absolute;
  left:251px;
  top:433px;
  width:81px;
  height:16px;
  color:#999999;
}
#u4904 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u4905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4905 {
  position:absolute;
  left:251px;
  top:470px;
  width:81px;
  height:16px;
}
#u4906 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u4907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4907 {
  position:absolute;
  left:251px;
  top:508px;
  width:109px;
  height:16px;
}
#u4908 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u4909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4909 {
  position:absolute;
  left:226px;
  top:577px;
  width:15px;
  height:15px;
}
#u4910 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4911 {
  position:absolute;
  left:251px;
  top:577px;
  width:81px;
  height:16px;
  color:#999999;
}
#u4912 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u4913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4913 {
  position:absolute;
  left:251px;
  top:615px;
  width:81px;
  height:16px;
}
#u4914 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u4915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4915 {
  position:absolute;
  left:226px;
  top:682px;
  width:15px;
  height:15px;
}
#u4916 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4917 {
  position:absolute;
  left:251px;
  top:682px;
  width:81px;
  height:16px;
  color:#999999;
}
#u4918 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u4919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4919 {
  position:absolute;
  left:251px;
  top:754px;
  width:81px;
  height:16px;
}
#u4920 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u4921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4921 {
  position:absolute;
  left:251px;
  top:794px;
  width:81px;
  height:16px;
}
#u4922 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u4923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4923 {
  position:absolute;
  left:251px;
  top:831px;
  width:81px;
  height:16px;
}
#u4924 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u4925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4925 {
  position:absolute;
  left:210px;
  top:212px;
  width:160px;
  height:61px;
}
#u4926 {
  position:absolute;
  left:2px;
  top:22px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:53px;
}
#u4927 {
  position:absolute;
  left:217px;
  top:216px;
  width:134px;
  height:53px;
}
#u4928 {
  position:absolute;
  left:2px;
  top:18px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4929_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:23px;
}
#u4929 {
  position:absolute;
  left:210px;
  top:336px;
  width:2px;
  height:20px;
}
#u4930 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:2px;
}
#u4931 {
  position:absolute;
  left:222px;
  top:410px;
  width:134px;
  height:1px;
}
#u4932 {
  position:absolute;
  left:2px;
  top:-8px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:2px;
}
#u4933 {
  position:absolute;
  left:217px;
  top:549px;
  width:134px;
  height:1px;
}
#u4934 {
  position:absolute;
  left:2px;
  top:-8px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:2px;
}
#u4935 {
  position:absolute;
  left:217px;
  top:655px;
  width:134px;
  height:1px;
}
#u4936 {
  position:absolute;
  left:2px;
  top:-8px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4937 {
  position:absolute;
  left:226px;
  top:894px;
  width:15px;
  height:15px;
}
#u4938 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4939 {
  position:absolute;
  left:251px;
  top:894px;
  width:81px;
  height:16px;
  color:#999999;
}
#u4940 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u4941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:2px;
}
#u4941 {
  position:absolute;
  left:217px;
  top:872px;
  width:134px;
  height:1px;
}
#u4942 {
  position:absolute;
  left:2px;
  top:-8px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4943 {
  position:absolute;
  left:251px;
  top:928px;
  width:81px;
  height:16px;
}
#u4944 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u4945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4945 {
  position:absolute;
  left:251px;
  top:718px;
  width:81px;
  height:16px;
}
#u4946 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u4947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:1141px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4947 {
  position:absolute;
  left:390px;
  top:212px;
  width:820px;
  height:1141px;
}
#u4948 {
  position:absolute;
  left:2px;
  top:562px;
  width:816px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4949 {
  position:absolute;
  left:406px;
  top:232px;
  width:92px;
  height:19px;
  font-size:16px;
}
#u4950 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u4951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:787px;
  height:2px;
}
#u4951 {
  position:absolute;
  left:406px;
  top:270px;
  width:786px;
  height:1px;
}
#u4952 {
  position:absolute;
  left:2px;
  top:-8px;
  width:782px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:399px;
  background:inherit;
  background-color:rgba(246, 249, 253, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4953 {
  position:absolute;
  left:425px;
  top:724px;
  width:751px;
  height:399px;
}
#u4954 {
  position:absolute;
  left:2px;
  top:192px;
  width:747px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4955 {
  position:absolute;
  left:441px;
  top:742px;
  width:146px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4956 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  word-wrap:break-word;
}
#u4957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4957 {
  position:absolute;
  left:441px;
  top:778px;
  width:720px;
  height:75px;
  font-size:12px;
}
#u4958 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  word-wrap:break-word;
}
#u4959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u4959 {
  position:absolute;
  left:406px;
  top:376px;
  width:95px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u4960 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u4961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4961 {
  position:absolute;
  left:524px;
  top:376px;
  width:95px;
  height:16px;
}
#u4962 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u4963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u4963 {
  position:absolute;
  left:406px;
  top:464px;
  width:95px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u4964 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u4965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u4965 {
  position:absolute;
  left:406px;
  top:421px;
  width:95px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u4966 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u4967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u4967 {
  position:absolute;
  left:406px;
  top:510px;
  width:95px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u4968 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u4969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4969 {
  position:absolute;
  left:406px;
  top:290px;
  width:238px;
  height:47px;
  color:#666666;
}
#u4970 {
  position:absolute;
  left:2px;
  top:16px;
  width:234px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:35px;
}
#u4971 {
  position:absolute;
  left:421px;
  top:291px;
  width:148px;
  height:35px;
}
#u4972 {
  position:absolute;
  left:2px;
  top:10px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u4973 {
  position:absolute;
  left:578px;
  top:301px;
  width:58px;
  height:16px;
  font-size:13px;
}
#u4974 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u4975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4975 {
  position:absolute;
  left:525px;
  top:421px;
  width:255px;
  height:16px;
}
#u4976 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  word-wrap:break-word;
}
#u4977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4977 {
  position:absolute;
  left:525px;
  top:464px;
  width:255px;
  height:16px;
}
#u4978 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  word-wrap:break-word;
}
#u4979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4979 {
  position:absolute;
  left:525px;
  top:510px;
  width:255px;
  height:16px;
}
#u4980 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  word-wrap:break-word;
}
#u4981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u4981 {
  position:absolute;
  left:406px;
  top:549px;
  width:95px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u4982 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u4983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4983 {
  position:absolute;
  left:525px;
  top:549px;
  width:255px;
  height:16px;
}
#u4984 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  word-wrap:break-word;
}
#u4985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:35px;
  background:inherit;
  background-color:rgba(233, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4985 {
  position:absolute;
  left:744px;
  top:654px;
  width:110px;
  height:35px;
}
#u4986 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
