body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1410px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:1083px;
  background:inherit;
  background-color:rgba(249, 250, 251, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13125 {
  position:absolute;
  left:10px;
  top:50px;
  width:1400px;
  height:1083px;
}
#u13126 {
  position:absolute;
  left:2px;
  top:534px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:40px;
  background:inherit;
  background-color:rgba(24, 39, 63, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13127 {
  position:absolute;
  left:10px;
  top:10px;
  width:1400px;
  height:40px;
}
#u13128 {
  position:absolute;
  left:2px;
  top:12px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:right;
}
#u13129 {
  position:absolute;
  left:981px;
  top:22px;
  width:167px;
  height:16px;
  color:#FFFFFF;
  text-align:right;
}
#u13130 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  word-wrap:break-word;
}
#u13131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:33px;
}
#u13131 {
  position:absolute;
  left:1157px;
  top:14px;
  width:1px;
  height:32px;
}
#u13132 {
  position:absolute;
  left:2px;
  top:8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u13133 {
  position:absolute;
  left:1165px;
  top:22px;
  width:45px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u13134 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u13135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:16px;
}
#u13135 {
  position:absolute;
  left:210px;
  top:22px;
  width:194px;
  height:16px;
  color:#FFFFFF;
}
#u13136 {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  word-wrap:break-word;
}
#u13137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:52px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13137 {
  position:absolute;
  left:10px;
  top:1081px;
  width:1400px;
  height:52px;
}
#u13138 {
  position:absolute;
  left:2px;
  top:18px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:16px;
}
#u13139 {
  position:absolute;
  left:210px;
  top:1099px;
  width:389px;
  height:16px;
  color:#666666;
}
#u13140 {
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  word-wrap:break-word;
}
#u13141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u13141 {
  position:absolute;
  left:610px;
  top:306px;
  width:200px;
  height:200px;
}
#u13142 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:107px;
}
#u13143 {
  position:absolute;
  left:585px;
  top:535px;
  width:251px;
  height:107px;
}
#u13144 {
  position:absolute;
  left:2px;
  top:46px;
  width:247px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u13145 {
  position:absolute;
  left:560px;
  top:687px;
  width:223px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u13146 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  word-wrap:break-word;
}
#u13147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:29px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13147 {
  position:absolute;
  left:783px;
  top:684px;
  width:79px;
  height:29px;
}
#u13148 {
  position:absolute;
  left:2px;
  top:6px;
  width:75px;
  word-wrap:break-word;
}
