body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1410px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6799_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:1376px;
  background:inherit;
  background-color:rgba(249, 250, 251, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6799 {
  position:absolute;
  left:10px;
  top:50px;
  width:1400px;
  height:1376px;
}
#u6800 {
  position:absolute;
  left:2px;
  top:680px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:40px;
  background:inherit;
  background-color:rgba(24, 39, 63, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6801 {
  position:absolute;
  left:10px;
  top:10px;
  width:1400px;
  height:40px;
}
#u6802 {
  position:absolute;
  left:2px;
  top:12px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6803_div {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:right;
}
#u6803 {
  position:absolute;
  left:981px;
  top:22px;
  width:167px;
  height:16px;
  color:#FFFFFF;
  text-align:right;
}
#u6804 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  word-wrap:break-word;
}
#u6805_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:33px;
}
#u6805 {
  position:absolute;
  left:1157px;
  top:14px;
  width:1px;
  height:32px;
}
#u6806 {
  position:absolute;
  left:2px;
  top:8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6807_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u6807 {
  position:absolute;
  left:1165px;
  top:22px;
  width:45px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u6808 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u6809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:16px;
}
#u6809 {
  position:absolute;
  left:210px;
  top:22px;
  width:194px;
  height:16px;
  color:#FFFFFF;
}
#u6810 {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  word-wrap:break-word;
}
#u6811_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6811 {
  position:absolute;
  left:10px;
  top:50px;
  width:1400px;
  height:138px;
}
#u6812 {
  position:absolute;
  left:2px;
  top:61px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6813 {
  position:absolute;
  left:222px;
  top:73px;
  width:90px;
  height:90px;
}
#u6814 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6815 {
  position:absolute;
  left:322px;
  top:73px;
  width:36px;
  height:16px;
}
#u6816 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u6817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u6817 {
  position:absolute;
  left:358px;
  top:73px;
  width:20px;
  height:16px;
}
#u6818 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6819 {
  position:absolute;
  left:322px;
  top:94px;
  width:120px;
  height:16px;
}
#u6820 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u6821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:21px;
}
#u6821 {
  position:absolute;
  left:322px;
  top:143px;
  width:15px;
  height:20px;
}
#u6822 {
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:21px;
}
#u6823 {
  position:absolute;
  left:347px;
  top:143px;
  width:15px;
  height:20px;
}
#u6824 {
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:91px;
}
#u6825 {
  position:absolute;
  left:452px;
  top:73px;
  width:1px;
  height:90px;
}
#u6826 {
  position:absolute;
  left:2px;
  top:37px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6827 {
  position:absolute;
  left:497px;
  top:91px;
  width:56px;
  height:16px;
}
#u6828 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u6829 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#EE4C4C;
}
#u6830 {
  position:absolute;
  left:496px;
  top:117px;
  width:93px;
  height:28px;
  font-size:24px;
  color:#EE4C4C;
}
#u6831 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u6832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#EE4C4C;
}
#u6832 {
  position:absolute;
  left:591px;
  top:122px;
  width:35px;
  height:19px;
  font-size:16px;
  color:#EE4C4C;
}
#u6833 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u6834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6834 {
  position:absolute;
  left:684px;
  top:91px;
  width:56px;
  height:16px;
}
#u6835 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u6836 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u6837 {
  position:absolute;
  left:684px;
  top:117px;
  width:93px;
  height:28px;
  font-size:24px;
}
#u6838 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u6839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6839 {
  position:absolute;
  left:779px;
  top:122px;
  width:35px;
  height:19px;
  font-size:16px;
}
#u6840 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u6841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6841 {
  position:absolute;
  left:871px;
  top:91px;
  width:56px;
  height:16px;
}
#u6842 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u6843 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u6844 {
  position:absolute;
  left:870px;
  top:117px;
  width:93px;
  height:28px;
  font-size:24px;
}
#u6845 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u6846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6846 {
  position:absolute;
  left:965px;
  top:122px;
  width:35px;
  height:19px;
  font-size:16px;
}
#u6847 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u6848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
  background:inherit;
  background-color:rgba(238, 76, 76, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6848 {
  position:absolute;
  left:1097px;
  top:73px;
  width:113px;
  height:40px;
}
#u6849 {
  position:absolute;
  left:2px;
  top:12px;
  width:109px;
  word-wrap:break-word;
}
#u6850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u6850 {
  position:absolute;
  left:1097px;
  top:123px;
  width:113px;
  height:40px;
  color:#666666;
}
#u6851 {
  position:absolute;
  left:2px;
  top:12px;
  width:109px;
  word-wrap:break-word;
}
#u6852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u6852 {
  position:absolute;
  left:372px;
  top:66px;
  width:15px;
  height:15px;
  color:#FFFFFF;
}
#u6853 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u6854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:52px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6854 {
  position:absolute;
  left:10px;
  top:1374px;
  width:1400px;
  height:52px;
}
#u6855 {
  position:absolute;
  left:2px;
  top:18px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:16px;
}
#u6856 {
  position:absolute;
  left:210px;
  top:1392px;
  width:389px;
  height:16px;
  color:#666666;
}
#u6857 {
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  word-wrap:break-word;
}
#u6858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6858 {
  position:absolute;
  left:322px;
  top:115px;
  width:120px;
  height:16px;
}
#u6859 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u6861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:712px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6861 {
  position:absolute;
  left:210px;
  top:283px;
  width:160px;
  height:712px;
}
#u6862 {
  position:absolute;
  left:2px;
  top:348px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6863 {
  position:absolute;
  left:226px;
  top:301px;
  width:15px;
  height:15px;
}
#u6864 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6865 {
  position:absolute;
  left:251px;
  top:301px;
  width:81px;
  height:16px;
  color:#999999;
}
#u6866 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u6867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#EE4C4C;
}
#u6867 {
  position:absolute;
  left:251px;
  top:338px;
  width:81px;
  height:16px;
  color:#EE4C4C;
}
#u6868 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u6869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6869 {
  position:absolute;
  left:251px;
  top:376px;
  width:81px;
  height:16px;
}
#u6870 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u6871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6871 {
  position:absolute;
  left:226px;
  top:434px;
  width:15px;
  height:15px;
}
#u6872 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6873 {
  position:absolute;
  left:251px;
  top:433px;
  width:81px;
  height:16px;
  color:#999999;
}
#u6874 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u6875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6875 {
  position:absolute;
  left:251px;
  top:470px;
  width:81px;
  height:16px;
}
#u6876 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u6877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6877 {
  position:absolute;
  left:251px;
  top:508px;
  width:109px;
  height:16px;
}
#u6878 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u6879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6879 {
  position:absolute;
  left:226px;
  top:577px;
  width:15px;
  height:15px;
}
#u6880 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6881 {
  position:absolute;
  left:251px;
  top:577px;
  width:81px;
  height:16px;
  color:#999999;
}
#u6882 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u6883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6883 {
  position:absolute;
  left:251px;
  top:615px;
  width:81px;
  height:16px;
}
#u6884 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u6885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6885 {
  position:absolute;
  left:226px;
  top:682px;
  width:15px;
  height:15px;
}
#u6886 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6887 {
  position:absolute;
  left:251px;
  top:682px;
  width:81px;
  height:16px;
  color:#999999;
}
#u6888 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u6889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6889 {
  position:absolute;
  left:251px;
  top:754px;
  width:81px;
  height:16px;
}
#u6890 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u6891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6891 {
  position:absolute;
  left:251px;
  top:794px;
  width:81px;
  height:16px;
}
#u6892 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u6893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6893 {
  position:absolute;
  left:251px;
  top:831px;
  width:81px;
  height:16px;
}
#u6894 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u6895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6895 {
  position:absolute;
  left:210px;
  top:212px;
  width:160px;
  height:61px;
}
#u6896 {
  position:absolute;
  left:2px;
  top:22px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:53px;
}
#u6897 {
  position:absolute;
  left:217px;
  top:216px;
  width:134px;
  height:53px;
}
#u6898 {
  position:absolute;
  left:2px;
  top:18px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6899_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:23px;
}
#u6899 {
  position:absolute;
  left:210px;
  top:336px;
  width:2px;
  height:20px;
}
#u6900 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:2px;
}
#u6901 {
  position:absolute;
  left:222px;
  top:410px;
  width:134px;
  height:1px;
}
#u6902 {
  position:absolute;
  left:2px;
  top:-8px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:2px;
}
#u6903 {
  position:absolute;
  left:217px;
  top:549px;
  width:134px;
  height:1px;
}
#u6904 {
  position:absolute;
  left:2px;
  top:-8px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:2px;
}
#u6905 {
  position:absolute;
  left:217px;
  top:655px;
  width:134px;
  height:1px;
}
#u6906 {
  position:absolute;
  left:2px;
  top:-8px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6907 {
  position:absolute;
  left:226px;
  top:894px;
  width:15px;
  height:15px;
}
#u6908 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6909 {
  position:absolute;
  left:251px;
  top:894px;
  width:81px;
  height:16px;
  color:#999999;
}
#u6910 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u6911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:2px;
}
#u6911 {
  position:absolute;
  left:217px;
  top:872px;
  width:134px;
  height:1px;
}
#u6912 {
  position:absolute;
  left:2px;
  top:-8px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6913 {
  position:absolute;
  left:251px;
  top:928px;
  width:81px;
  height:16px;
}
#u6914 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u6915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6915 {
  position:absolute;
  left:251px;
  top:718px;
  width:81px;
  height:16px;
}
#u6916 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u6917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:1141px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6917 {
  position:absolute;
  left:390px;
  top:212px;
  width:820px;
  height:1141px;
}
#u6918 {
  position:absolute;
  left:2px;
  top:562px;
  width:816px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6919 {
  position:absolute;
  left:406px;
  top:232px;
  width:92px;
  height:19px;
  font-size:16px;
}
#u6920 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u6921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:787px;
  height:2px;
}
#u6921 {
  position:absolute;
  left:406px;
  top:270px;
  width:786px;
  height:1px;
}
#u6922 {
  position:absolute;
  left:2px;
  top:-8px;
  width:782px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:786px;
  height:3155px;
}
#u6923 {
  position:absolute;
  left:406px;
  top:289px;
  width:786px;
  height:3155px;
}
#u6924 {
  position:absolute;
  left:0px;
  top:0px;
  width:786px;
  word-wrap:break-word;
}
